<div *ngIf="skill">
    <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">

        <div>
            <label class="nombre_skill" for="nombre">Nombre de la skill</label>
            <input class="nombre_input" type="text" id="nombre" name="nombre" [(ngModel)]="skill.nombre" required>
        </div>

        <div>
            <label class="percentage_skill" for="porcentaje">Porcentaje</label>
            <input class="percentage_input" type="number" id="porcentaje" name="porcentaje" [(ngModel)]="skill.porcentaje" required>
        </div>

        <button class="boton_editar"><i class="fa-solid fa-pen-to-square"></i>Editar</button>
        <button routerLink="/portfolio" class="boton_cancelar"><i class="fa-regular fa-circle-xmark"></i>Cancelar</button>

    </form>
</div>
