<section>
    <div>
        <h1 class="skills_titulo">Hard + Soft Skills</h1>
    </div>

    <div class="skills">
        <div class="skills_box">
            <circle-progress [responsive]="true" [class]="'skills_circle'" [imageSrc]="'../assets/HTML5.png'"
                [imageHeight]="70" [imageWidth]="70" [showImage]="true" [showUnits]="false" [showSubtitle]="false"
                [percent]="80" [title]="'HTML'" [titleColor]="'#3B19DA'" [titleFontSize]="'3em'" [radius]="100"
                [outerStrokeWidth]="12" [innerStrokeWidth]="4" [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="800" [lazy]="true">
            </circle-progress>
        </div>

        <div class="skills_box">
            <circle-progress [responsive]="true" [class]="'skills_circle'" [imageSrc]="'../assets/HTML5.png'"
                [imageHeight]="70" [imageWidth]="70" [showImage]="true" [showUnits]="false" [showSubtitle]="false"
                [percent]="80" [title]="'HTML'" [titleColor]="'#3B19DA'" [titleFontSize]="'3em'" [radius]="100"
                [outerStrokeWidth]="12" [innerStrokeWidth]="4" [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="800" [lazy]="true">
            </circle-progress>
        </div>

        <div class="skills_box">
            <circle-progress [responsive]="true" [class]="'skills_circle'" [imageSrc]="'../assets/HTML5.png'"
                [imageHeight]="70" [imageWidth]="70" [showImage]="true" [showUnits]="false" [showSubtitle]="false"
                [percent]="80" [title]="'HTML'" [titleColor]="'#3B19DA'" [titleFontSize]="'3em'" [radius]="100"
                [outerStrokeWidth]="12" [innerStrokeWidth]="4" [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="800" [lazy]="true">
            </circle-progress>
        </div>

        <div class="skills_box">
            <circle-progress [responsive]="true" [class]="'skills_circle'" [imageSrc]="'../assets/HTML5.png'"
                [imageHeight]="70" [imageWidth]="70" [showImage]="true" [showUnits]="false" [showSubtitle]="false"
                [percent]="80" [title]="'HTML'" [titleColor]="'#3B19DA'" [titleFontSize]="'3em'" [radius]="100"
                [outerStrokeWidth]="12" [innerStrokeWidth]="4" [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="800" [lazy]="true">
            </circle-progress>
        </div>

        <div class="skills_box">
            <circle-progress [responsive]="true" [class]="'skills_circle'" [imageSrc]="'../assets/HTML5.png'"
                [imageHeight]="70" [imageWidth]="70" [showImage]="true" [showUnits]="false" [showSubtitle]="false"
                [percent]="80" [title]="'HTML'" [titleColor]="'#3B19DA'" [titleFontSize]="'3em'" [radius]="100"
                [outerStrokeWidth]="12" [innerStrokeWidth]="4" [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="800" [lazy]="true">
            </circle-progress>
        </div>

        <div class="skills_box">
            <circle-progress [responsive]="true" [class]="'skills_circle'" [imageSrc]="'../assets/HTML5.png'"
                [imageHeight]="70" [imageWidth]="70" [showImage]="true" [showUnits]="false" [showSubtitle]="false"
                [percent]="80" [title]="'HTML'" [titleColor]="'#3B19DA'" [titleFontSize]="'3em'" [radius]="100"
                [outerStrokeWidth]="12" [innerStrokeWidth]="4" [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="800" [lazy]="true">
            </circle-progress>
        </div>
    </div>
</section>