.skills_titulo {
    font-size: 1.4em;
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    margin: 0.2em;
    padding: 0.1em;
    text-align: center;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    align-items: center;
}

.skills_box {
    width: 32%;
    margin: 0.2em;
    padding: 0.2em;
}