.div-caja {
  margin: 2em;
}

.skills_titulo {
  font-size: 1.4em;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  margin: 0.2em;
  padding: 0.1em;
  text-align: center;
}

.div_boton {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  display: flex;
  justify-content: center;
}

.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.skills_box {
  width: auto;
  margin: 2em;
  padding: 0.3em;
}

.skills_circle {
  text-align: center;
  font-size: 1.1em;
  font-family: "Barlow", sans-serif;
  font-weight: 300;
}

.boton_agregar {
  margin-left: 1.4em;
  padding: 0.5em;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: center;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  border: none;
  transition: 1s all;
  cursor: pointer;
}

.boton_agregar:hover {
  background: rgb(80, 191, 255);
  transform: scale(1.1);
  color: rgb(39, 39, 39);
}

.boton_editar {
  margin-left: 1em;
  padding: 0.6em;
  border-radius: 10px;
  border: none;
  transition: 1s all;
  cursor: pointer;
}

.boton_editar:hover {
  background: rgb(80, 191, 255);
  transform: scale(1.1);
}

.boton_borrar {
  margin-left: 1em;
  padding: 0.6em;
  border-radius: 10px;
  border: none;
  transition: 1s all;
  cursor: pointer;
}

.boton_borrar:hover {
  background: rgb(255, 122, 122);
  transform: scale(1.1);
}

@media only screen and (max-width: 600px) {
  .botones_skill {
    margin: 1.2em;
    display: flex;
  }

  .boton_editar {
    margin: 0.3em;
    padding: 0.7em;
    display:block;
  }

  .boton_borrar {
    margin: 0.3em;
    padding: 0.7em;
    display:block;
  }

  .div-caja {
    margin: 0em;
  }

  .skills_box {
    width: auto;
    margin-top: 2em;
    padding: 0.1em;
  }
}
