<section>
    <div>
        <h1 class="educacion_titulo">Educación</h1>
    </div>

    <div>
        <button class="boton_agregar__edu" routerLink="/nuevaedu" *ngIf="isLogged"><i class="fa-solid fa-plus"></i>
            Nueva Educación</button>
    </div>

    <table class="tabla_educaciones">
        <tbody>
            <tr *ngFor="let Educacion of edu">
                <td class="edu_nombre">{{Educacion.nombreE}}</td>
                <td class="edu_descrp">{{Educacion.descripcionE}}</td>
                <td *ngIf="isLogged">
                    <button class="boton_editar__edu" routerLink="/editedu/{{Educacion.id}}">
                        <i class="fa-solid fa-pen-to-square"></i>Editar</button>
                </td>
                <td *ngIf="isLogged">
                    <button class="boton_borrar__edu" (click)="delete(Educacion.id)">
                        <i class="fa-solid fa-trash"></i>Borrar</button>
                </td>
            </tr>
        </tbody>
    </table>
</section>