<div>
    <span class="educacion_titulo">Educación</span>
</div>

<div class="educaciones">
    <ul class="educacion">
        <li class="educacion_item">
            <p>Estudio 1</p>
            <p>Años</p>
            <p>Descripción</p>
        </li>
        <li class="educacion_item">
            <p>Estudio 2</p>
            <p>Años</p>
            <p>Descripción</p>
        </li>
        <li class="educacion_item">
            <p>Estudio 3</p>
            <p>Años</p>
            <p>Descripción</p>
        </li>
    </ul>
</div>
