.div-caja {
  margin: 2em;
}

.educacion_titulo {
  font-size: 1.4em;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  margin: 0.2em;
  padding: 0.1em;
  text-align: center;
}

.div_boton {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  display: flex;
  justify-content: center;
}

.educaciones {
  display: flex;
  width: auto;
  flex-wrap: wrap;
  margin-top: 0.7em;
  margin-bottom: 0.8em;
}

.edu_tituloE {
  font-size: 1.4em;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  margin: 0.2em;
  padding: 0.1em;
  text-align: center;
}

.edu_fecha {
  font-size: 1.2em;
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  margin: 0.2em;
  padding: 0.1em;
  text-align: center;
}

.edu_nombre {
  font-size: 1.4em;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  margin: 0.2em;
  padding: 0.1em;
  text-align: center;
}

.edu_descrp {
  font-size: 1.2em;
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  margin: 0.2em;
  padding: 0.1em;
  text-align: center;
}

.boton_agregar {
  margin-left: 1.4em;
  padding: 0.5em;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: center;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  border: none;
  transition: 1s all;
  cursor: pointer;
}

.boton_agregar:hover {
  background: rgb(80, 191, 255);
  transform: scale(1.1);
  color: rgb(39, 39, 39);
}

.boton_editar {
  margin-left: 1.4em;
  padding: 0.5em;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: center;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  border: none;
  transition: 1s all;
  cursor: pointer;
}

.boton_editar:hover {
  background: rgb(80, 191, 255);
  transform: scale(1.1);
  color: rgb(39, 39, 39);
}

.boton_borrar {
  margin-left: 1.4em;
  padding: 0.5em;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: center;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  border: none;
  transition: 1s all;
  cursor: pointer;
}

.boton_borrar:hover {
  background: rgb(255, 122, 122);
  transform: scale(1.1);
  color: rgb(39, 39, 39);
}

@media only screen and (max-width: 600px) {
  .div-caja {
    margin: 0.5em
  }
}