<div>
    <form (ngSubmit)="onCreate()" novalidate #f="ngForm">

        <div>
            <label class="nombre_edu" for="nombreE">Nombre de la Institución Educativa</label>
            <input class="nombre_input" type="text" id="nombreE" name="nombreE" [(ngModel)]="nombreE" required>
        </div>

        <div>
            <label class="descrp_edu" for="descripcionE">Descripción de la carrera o curso</label>
            <input class="descrp_input" type="text" id="descripcionE" name="descripcionE" [(ngModel)]="descripcionE" required>
        </div>

        <button class="boton_agregar"><i class="fa-solid fa-plus"></i>Agregar</button>

    </form>
</div>