<section>
    <div>
        <h1 class="experiencia_titulo">Experiencia laboral</h1>
    </div>

    <div>
        <button class="boton_agregar__exp" routerLink="/nuevaexp" *ngIf="isLogged"><i class="fa-solid fa-plus"></i>
            Nueva Experiencia</button>
    </div>

    <table class="tabla_experiencias">
        <tbody>
            <tr *ngFor="let Experiencia of exp">
                <td class="exp_nombre">{{Experiencia.nombreE}}</td>
                <td class="exp_descrp">{{Experiencia.descripcionE}}</td>
                <td *ngIf="isLogged">
                    <button class="boton_editar__exp" routerLink="/editexp/{{Experiencia.id}}">
                        <i class="fa-solid fa-pen-to-square"></i>Editar Experiencia</button>
                </td>
                <td *ngIf="isLogged">
                    <button class="boton_borrar__exp" (click)="delete(Experiencia.id)">
                        <i class="fa-solid fa-trash"></i>Borrar Experiencia</button>
            </tr>
        </tbody>
    </table>

    <div class="tabla_experiencias">
        <ul class="experiencia">
            <li class="experiencia_item">
                <p>Trabajo 1</p>
                <p>Años</p>
                <p>Descripción</p>
            </li>
            <li class="experiencia_item">
                <p>Trabajo 2</p>
                <p>Años</p>
                <p>Descripción</p>
            </li>
            <li class="experiencia_item">
                <p>Trabajo 3</p>
                <p>Años</p>
                <p>Descripción</p>
            </li>
        </ul>
    </div>
</section>