<div>
    <span class="experiencia_titulo">Experiencia laboral</span>
</div>

<div class="experiencias">
    <ul class="experiencia">
        <li class="experiencia_item">
            <p>Trabajo 1</p>
            <p>Años</p>
            <p>Descripción</p>
        </li>
        <li class="experiencia_item">
            <p>Trabajo 2</p>
            <p>Años</p>
            <p>Descripción</p></li>
        <li class="experiencia_item">
            <p>Trabajo 3</p>
            <p>Años</p>
            <p>Descripción</p>
        </li>
    </ul>
</div>
