<header class="header">
    <div>
        <img class="header_argprog" src="../../../assets/LogoArgProg.png" alt="Logo de Argentina Programa">
    </div>

    <div>
        <h2 class="header_nombre">Lucas E. Romero</h2>
    </div>

    <div class="header_links">
        <a class="header_link" href="https://github.com/CodeAgua" target="_blank">
            <img class="header_github" src="../../../assets/GithubLight120.png" alt="Logo de GitHub">
        </a>
        <a class="header_link" href="https://www.linkedin.com/in/lucas-emanuel-r-5b3586200/" target="_blank">
            <img class="header_linkedin" src="../../../assets/LinkedinBug.png" alt="Logo de LinkedIn">
        </a>
            <div class="header_boton"><button class="header_boton__login">Login</button></div>
    </div>
</header>
<hr>
