.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0.2em;
  margin-top: 0.4em;
  margin-bottom: 0.3em;
  width: auto;
  height: 55px;
}

.header_argprog {
  width: 205.52px;
  height: 62.16px;
  border: none;
  margin: 0.1em;
}

.header_link:hover {
  transition: 500ms all;
  margin-right: 0.15em;
  margin-left: 0.15em;
  text-decoration: none;
  opacity: 0.9;
}

.header_github {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  border: none;
  margin: 0.2em;
  padding: 0.1em;
}

.header_github:hover {
  transition: 500ms all;
  transform: scale(1.1);
}

.header_linkedin {
  width: 44.45px;
  height: 37.8px;
  border: none;
  margin: 0.2em;
  padding: 0.1em;
}

.header_linkedin:hover {
  transition: 500ms all;
  transform: scale(1.1);
}

.header_links {
  display: flex;
}

.header_boton__login {
  margin-left: 1.2em;
  margin-right: 0.8em;
  padding: 0.5em;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: center;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  border-color: black;
  transition: 1s all;
  cursor: pointer;
}

.header_boton__login:hover {
  background: rgb(80, 191, 255);
  transform: scale(1.1);
  color: rgb(39, 39, 39);
}

.header_boton__logout {
  margin-left: 1.2em;
  margin-right: 0.8em;
  padding: 0.5em;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: center;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  border-color: black;
  transition: 1s all;
  cursor: pointer;
}

.header_boton__logout:hover {
  background: rgb(255, 122, 122);
  transform: scale(1.1);
  color: rgb(39, 39, 39);
}

@media only screen and (max-width: 600px) {
  .header_boton__login {
    margin: 0.2em;
    padding: 0.4em;
    font-size: 14px;
  }

  .header_boton__logout {
    margin: 0.2em;
    padding: 0.4em;
    font-size: 14px;
  }

  .header {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.1em;
    margin-top: 0.4em;
    margin-bottom: 0.3em;
    width: auto;
    height: auto;
  }

  .header_links {
    margin-top: 1em;
    width: auto;
  }
}
