<header class="header">
    <div>
        <img class="header_argprog" src="https://iili.io/DoPPv2.png" alt="Logo de Argentina Programa">
    </div>

    <div class="header_links">
        <a class="header_link" href="https://github.com/CodeAgua" target="_blank">
            <img class="header_github" src="https://iili.io/Dzq6dv.png" alt="Logo de GitHub">
        </a>
        <a class="header_link" href="https://www.linkedin.com/in/lucas-emanuel-r-5b3586200/" target="_blank">
            <img class="header_linkedin" src="https://iili.io/DoPLT7.png" alt="Logo de LinkedIn">
        </a>
            <div class="header_boton">
                <button type="button" class="header_boton__login"  (click)="login()" *ngIf="!isLogged"><i class="fa-solid fa-arrow-right-to-bracket"></i> Ingresar</button>
                <button type="button" class="header_boton__logout" (click)="onLogOut()" *ngIf="isLogged"><i class="fa-solid fa-arrow-right-from-bracket"></i> Cerrar Sesión</button>
            </div>
    </div>
</header>
