<h1 class="login_titulo">Iniciar Sesión</h1>
<form [formGroup]="form" #f="ngForm" (ngSubmit)="onLogin()" class="form">

  <div class="form_cuadro">
    <label for="nombreUsuario"><i class="fa-solid fa-circle-user"></i>Nombre de usuario</label>
    <input type="user" formControlName="nombreUsuario"
      [ngClass]="{'form_cuadro_error': Username?.errors && Username?.touched, 'form_cuadro_valido': !Username?.errors && Username?.touched}"
      id="nombreUsuario" name="nombreUsuario" [(ngModel)]="nombreUsuario" class="form_input"
      aria-describedby="UsernameHelp" placeholder="XentoAsfi" required>

    <div *ngIf="Username?.errors && Username?.touched">
      <p *ngIf="Username?.hasError('required')" class="form_cuadro_aviso">El nombre de usuario es requerido.</p>
      <p *ngIf="Password?.errors?.['minlength']" class="form_cuadro_aviso">El nombre de usuario debe ser de 1 o más
        caracteres.</p>
    </div>
  </div>


  <div class="form_cuadro">
    <label for="password"><i class="fa-solid fa-key"></i>Contraseña</label>
    <input type="password" formControlName="password" [ngClass]="{'form_cuadro_error': Password?.errors && Password?.touched,
'form_cuadro_valido': !Password?.errors && Password?.touched}" id="password" name="password" [(ngModel)]="password"
      class="form_input" placeholder="********" required>

    <div *ngIf="Password?.errors && Password?.touched">
      <p *ngIf="Password?.hasError('required')" class="form_cuadro_aviso">La contraseña es requerida.</p>
      <p *ngIf="Password?.errors?.['minlength']" class="form_cuadro_aviso">La contraseña debe ser de 1 o más caracteres(*)</p>
    </div>
  </div>

  <button class="form_enviar" type="submit"><i class="fa-solid fa-arrow-right-to-bracket"></i> Iniciar Sesión</button>
  <button class="boton_cancelar" routerLink="/portfolio"><i class="fa-regular fa-circle-xmark"></i> Volver</button>
</form>

