<h1 class="login_titulo">Iniciar Sesión</h1>
<form #f="ngForm" class="form" (ngSubmit)="onLogin()" novalidate>

  <div class="form_cuadro">
    <label for="colocarUsername">Nombre de usuario</label>
    <input class="form_input" id="colocarUsername" placeholder="XentoAsfi">
  </div>

  <div class="form_cuadro">
    <label for="colocarPassword">Contraseña</label>
    <input type="password" class="form_input" id="colocarPassword" placeholder="********">
  </div>

  <button class="form_boton" type="submit">Enviar</button>

</form>