<h1 class="login_titulo">Iniciar Sesión</h1>
<form [formGroup]="form" class="form" (ngSubmit)="onLogin()">

  <div class="form_cuadro">
    <label for="colocarCorreo">Correo Electrónico</label>
    <input type="NombreUsuario" formControlName="NombreUsuario"
      [ngClass]="{'form_cuadro_error': NombreUsuario?.errors && NombreUsuario?.touched, 'form_cuadro_valido': !NombreUsuario?.errors && NombreUsuario?.touched}"
      class="form_input" id="colocarCorreo" aria-describedby="NombreUsuarioHelp" placeholder="correo@mail.com">
    <div *ngIf="NombreUsuario?.errors && NombreUsuario?.touched">
      <p *ngIf="NombreUsuario?.hasError('required')" class="form_cuadro_aviso">
        El E-mail es requerido.
      </p>
      <p *ngIf="NombreUsuario?.hasError('NombreUsuario')" class="form_cuadro_aviso">
        El formato del E-mail debe ser válido (nombre@mail.com)
      </p>
    </div>
  </div>

  <div class="form_cuadro">
    <label for="colocarPassword">Contraseña</label>
    <input type="password" formControlName="password"
      [ngClass]="{'form_cuadro_error': Password?.errors && Password?.touched,
       'form_cuadro_valido': !Password?.errors && Password?.touched}"
      class="form_input" id="colocarPassword" placeholder="********">
    <div *ngIf="Password?.errors && Password?.touched">
      <p *ngIf="Password?.hasError('required')" class="form_cuadro_aviso">
        La contraseña es requerida.
      </p>
      <p *ngIf="Password?.errors?.['minlength']" class="form_cuadro_aviso">
        La contraseña debe ser de 8 o más caracteres (********)
      </p>
    </div>
  </div>
  <button type="submit" class="form_boton">Enviar</button>
</form>