<section>
    <div>
        <h1 class="proyectos_titulo">Proyectos</h1>
    </div>

    <div>
        <button class="boton_agregar" routerLink="/newproject" *ngIf="isLogged"><i class="fa-solid fa-plus"></i>
            Nuevo Proyecto</button>
    </div>

    <table class="tabla_proyectos">
        <tbody>
            <tr *ngFor="let Proyecto of proy">
                <td class="proyectos_nombre">{{Proyecto.tituloP}}</td>
                <td class="proyectos_descripcion">{{Proyecto.descripcionP}}</td>

                <div class="proyectos_captura">
                    <td><button class="proyectos_demo"><i class="fa-solid fa-link"></i>
                            <a rel="noreferrer" href="{{Proyecto.demoP}}" target="_blank">Demo</a></button>
                    </td>

                    <td><button class="proyectos_repo"><i class="fa-brands fa-github"></i>
                            <a rel="noreferrer" href="{{Proyecto.repoP}}" target="_blank">Repositorio</a></button>
                    </td>

                    <td><img class="proyectos_imagen" src={{Proyecto.urlimagenP}}
                            alt="Captura de pantalla del proyecto"></td>
                </div>

                <td *ngIf="isLogged">
                    <button class="boton_editar" routerLink="/editproject/{{Proyecto.id}}">
                        <i class="fa-solid fa-pen-to-square"></i>Editar</button>
                </td>
                <td *ngIf="isLogged">
                    <button class="boton_borrar" (click)="delete(Proyecto.id)">
                        <i class="fa-solid fa-trash"></i>Borrar</button>
                </td>
            </tr>
        </tbody>
    </table>
</section>