<section>
    <div>
        <h1 class="proyectos_titulo">Proyectos</h1>
    </div>
    <div>
        <h2 class="proyectos_nombre">Encriptador de texto</h2>
        <p class="proyectos_descripcion">
            Un simple encriptador (y desencriptador) terminado el 04/05/2022. Escribir cualquier texto y apretar el botón de encriptar. Para comprobar que funciona bien, apretar el botón de copiar texto y luego intentar desencriptarlo. 
            Construido con HTML, CSS y JS. <em>Clickear imagen para dirigirse al proyecto.</em>
        </p>
    </div>
    <div class="proyectos_captura">
        <a class="proyectos_link" href="https://codeagua.github.io/Alura-Challenge-Oracle-ONE-Encriptador-de-Texto/" target="_blank">
            <img class="proyectos_imagen" src="../../../assets/encriptadorTexto.png" alt="Captura de pantalla del encriptador de texto"></a>
    </div>

</section>