.banner {
  display: flex;
}

.banner_imagen {
  opacity: 0.9;
  width: 100%;
}

.div_boton{
  display: flex;
  justify-content: center;
}

.boton_editar {
  margin-top: 0.8em;
  margin-bottom: 1em;
  padding: 0.5em;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: center;
  color: rgb(0, 0, 0);
  background: rgb(0, 162, 255);
  border-radius: 10px;
  border: none;
  transition: 1s all;
  cursor: pointer;
}

.boton_editar:hover {
  background: rgb(0, 102, 255);
  transform: scale(1.1);
  color: rgb(39, 39, 39);
}