<div class="about">

    <div *ngIf="isLogged">
        <button class="boton_editar" routerLink="/editabout/1">
            <i class="fa-solid fa-pen-to-square"></i>Editar</button>
    </div>

    <div>
        <img class="about_fotop" src={{persona.img}} alt="Foto personal para presentación">
    </div>
    <div *ngIf="persona" class="about_nombre-titulo">
        <p class="about_nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p class="about_titulo">{{persona.titulo}}</p>
    </div>
    <div class="about_acercade">
        <span>
            <h1 class="about_sobremi">Sobre mí</h1>
            <p class="about_info">{{persona.descripcion}}</p>
        </span>
    </div>
</div>