<div class="about">
    <div>
        <img class="about_fotop" src="../../../assets/fotoPerfil.jpg" alt="Foto personal para presentación">
    </div>
    <div class="about_nombre-titulo">
        <p class="about_nombre">Lucas Emanuel Romero</p>
        <p class="about_titulo">Full Stack Developer Jr</p>
    </div>
    <div class="about_acercade">
        <span>
            <h1 class="about_sobremi">Sobre mí</h1>
            <p class="about_info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab sunt porro corporis fugit a sint aliquid architecto doloremque itaque beatae, ipsa et. Quam earum enim laudantium, nisi eaque libero porro.</p>
        </span>
    </div>
</div>
